body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Mabry Pro', 'Avenir', 
    'Montserrat', 'Corbel', 'URW Gothic', 'source-sans-pro', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
