.gratitudes-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem;
}

.gratitude-container {
  background-color: #1a1a1a ;
  border: #fff1 px solid;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
}

.gratitude-link {
  text-decoration: none;
}