.gratitude-image {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.gratitude-image-stub {
  width: 20rem;
  height: 15rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background-color: #aaa;
}

.gratitude-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
